*{
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{
    background-color: #dcdcdc;

}
/**Fundo**/
.Conteiner{
    position: fixed;
    left:auto;
    top: auto;
    margin-left: 18%;
    margin-top: 5%;
    width: 900px;
    height: 500px;
    background-color: grey;
    border-radius:20px;
    background-image: url(../Imagens/335-3353900_load-screen-picture-for-league-of-legends-client.jpg);
    background-size: cover;
    box-shadow: 5px 5px 5px gray;
}

.Fundo{
    float:left;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    border-radius:20px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.imagem{
      
    position: absolute;
    left:auto;
    top: auto;
    margin-left:-20%;
    margin-top: 16%;
    border-radius:20px;
    float: left;
    width: 600px;
    
}

/**Formulários**/
.imagem1{
      
    position: absolute;
    left:auto;
    top: auto;
    margin-left:-40%;
    margin-top: 6%;
    float: left;
    width: 200px;
}